[Desktop Entry]
Type=Application
Version=0.1.0
Name=Flemozi
GenericName=Emoji Picker
Icon=flemozi
Exec=flemozi %U
Categories=Utility;
Keywords=Emoji;Clipboard;
StartupNotify=true